@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo{
    width:830px;
    height: 560px;
    background-color: #051342;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 5px;
    top: 100px;
    left: 30px;
}

.conteinerpostarTitulo{
    font-size: 45px;
    font-family: "VT323", monospace;

}
.fomulario{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tabela{
    width: 90%;
    height: 50px;
    margin: 3px;
    border-radius: 10px;
    border-style: none;

}

.texto{
    font-size: 23px;
    font-family: "VT323", monospace;

}
.descricao{
    width: 90%;
    margin-bottom: 3px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    height: 90px;
    display: block;
    resize: none;
    border-radius: 10PX;
}


.botaopostar{
    margin-top: 3px;
    background-color: #1997fd;
    color: #ffffff;
    width: 340px;
    height: 50px;
    border-style: none;
    border-radius: 20px;
}
.informacao{
    background-color: #fff;
    color: #051342;
    padding: 4px;
}
.fechar{
    color: #fff;
    z-index: 40;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
    padding-right: 600px;
}
.select{
    background-color: #ffffff;
    border: none;
    padding: 8px 11px;
    margin: 4px 0;
    width: 90%;
    height: 50px;
    border-radius: 14px;
}
.label{
    font-size: 20px;
    font-weight: bold;
}