@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    top: 44px;
    z-index: 10;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pai{
    margin-bottom: 80px;
}
.titulo {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "VT323", monospace;

}
.fechar{
    color: #fff;
    z-index: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
    position: absolute;
    left: 2px;
}
.estruturacard {
    display: flex;
}
.conteinerpostar {
    width: 830px;
    height: 550px;
    background-color: #080636;
    top: 5px;
    margin: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    text-align: center;
    border-radius: 12px 44px;
    overflow-y: scroll;
}
.tituloconteiner {
    color: #ffffff;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "VT323", monospace;
    font-weight: 600;
}
.atividadesconteiner {
    display: flex;
    align-items: center;
}
.tituloatvconteiner {
    font-family: "VT323", monospace;
    font-size: 30px;
    margin: 2px;
}
.botaoirparaatv{
    background-color: #0bcf8e;
    color: white;
    border-style: none;
    height: 20px;
    width: 190px;
    margin: 2px;
}