@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 20;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fechar{
    color: #fff;
    z-index: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
    position: absolute;
    left: 2px;
}
.conteiner{
    margin: 30px;
    flex-direction: column;
    display: flex;
}
.conteinerCursorTitulo{
    color: #fff;
    font-size: 40px;
    font-family: "VT323", monospace;
    padding-bottom: 15px;
}
.conteinerdes{
    text-align:justify;
}
.tabela{
    background-color: #ffffff;
    border: none;
    padding: 8px 11px;
    margin: 4px 0;
    width: 95%;
    height: 30px;
    border-radius: 14px;
}
.descricao{
    width: 95%;
    margin-bottom: 3px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    height: 90px;
    display: block;
    resize: none;
    border-radius: 10PX;
}
.label{
    font-size: 16px;
    font-weight: bold;
}
.botaopostar{
    margin-top: 20px;
    background-color: #0caae9;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 420px;
    height: 40px;
    margin :4px;
    border-style: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    
}