@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    top: 44px;
    z-index: 10;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paititulo{

    display: flex;
    margin: 5px;
}
.fechar{
    color: #fff;
    z-index: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    position: absolute;
    left: 2px;
}
.titulo{
    color:#fff;
    font-size: 45px;
    font-family: "VT323", monospace;
    align-items: center;
}
.estruturacard{
    background-color: #030b2b;
    width: 880px;
    height: 620px;
    border-radius: 30px 10px;
    display: flex;
    margin-top: 10px;
}
.tituloconteiner{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.veraulaconteiner{
    margin: 25px;
    align-items: center;
    display: flex;
}
.background{
    width: 290px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.aualasList{
    color: #030226;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}
.botaoveraula{
    background-color: #0caae9;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 120px;
    height: 30px;
    margin :4px;
    border-style: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
.conteinercurso{ 
    display: flex;
    margin: 25px;
    align-items: center;
}
.botaosobre{
    background-color: #0caae9;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 120px;
    height: 30px;
    margin :4px;
    border-style: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}