@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    z-index: 20;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner{
    margin: 30px;
    flex-direction: column;
    display: flex;
}
.conteinerCursorTitulo{
    color: #fff;
    font-size: 60px;
    font-family: "VT323", monospace;
    padding-bottom: 15px;
}
.conteinerdes{
    text-align:justify;
}
.titulodescricao{
    color: #fff;
    font-size: 30px;
}
.txtdescricao{
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}
.video{
    width: 800px;
    height: 360px;
}
