@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    z-index: 20;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fechar{
    color: #fff;
    z-index: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
    position: absolute;
    left: 2px;
}
.conteiner{
    margin: 30px;
    flex-direction: column;
    display: flex;
}
.conteinerCursorTitulo{
    color: #fff;
    font-size: 40px;
    font-family: "VT323", monospace;
    padding-bottom: 15px;
}
.conteinerdes{
    text-align:justify;
}
.titulodescricao{
    color: #fff;
    font-size: 25px;
}
.txtdescricao{
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
