@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.conteudo{
  display: flex;
  padding-top: 20px;
  align-items: center;
}
.conteudocards{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    
}
.CardUm{
    background-color: #00A3FF;
    width: 460px;
    height:730px;
    margin: 0 auto;
    overflow-y: auto;
    box-sizing: content-box;
    padding: 30px 10px  ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px 10px 10px 10px
}
.CardUm::-webkit-scrollbar{
    -webkit-animation-delay: 2s;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
}
.CardUm::-webkit-scrollbar-thumb {
    background-color: #02195a;    /* color of the scroll thumb */
    border-radius: 0px 9px 9px 0px;
  }
.nome_cardUm{
    color: white;
    font-family: "VT323", monospace;
    position: relative;
    font-size: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.itens{
    background-color: #ffffff;
    border-radius: 20px;
    width: 420px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.CardDois{
    background-color: #00A3FF;
    border-radius: 15px;
    align-items: center;
    width: 770px;
    height: 780px;
    margin: 0 auto;
    padding-left: 20px;
}
.nome_cardDois{
    color: #ffffff;
    font-family: "VT323", monospace;
    font-size: 60px;
    padding-bottom: 50px;
    padding-left: 5px;
    text-transform: uppercase;
}
.veraula {
    display: flex;
}

.tituloaula {
    color: #fff;
    font-size: 35px;
    font-family: "VT323", monospace;
    margin: 2px;
}
.botaoveraula {
    color: #fff;
    background-color: #021B4E;
    width: 180px;
    border-style: none;
    border-radius: 5px;
    margin: 2px;

}
.link{
text-decoration-style: none;
text-decoration-line: none;
color: #fff;
}