@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    top: 44px;
    z-index: 35;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteinertxt{
    align-items: first baseline;
}
.Titulo{
    color: #fff;
    font-size: 40px;
}
.txt{
    font-size: 20px;
    color: #fff;
}
.conteinerqts{
display: flex;
flex-direction: column;
color: #fff;
align-items: first baseline;
}
