@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.modalcorpo {
    background-color: #030226;
    width: 960px;
    height: 720px;
    position: absolute;
    top: 44px;
    z-index: 35;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fechar{
    color: #fff;
    z-index: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
    position: absolute;
    left: 2px;
}
.titulo {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "VT323", monospace;

}

.estruturacard {
    display: flex;
}

.pai{
    margin-bottom: 80px;
}
.tituloconteiner {
    color: #ffffff;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "VT323", monospace;
    font-weight: 600;

}


.atividadesconteiner {
    display: flex;
    align-items: center;
}


.tituloatvconteiner {
    font-family: "VT323", monospace;
    font-size: 25px;
    margin: 2px;
}

.botaoeditar {
    background-color: #0bcf8e;
    color: white;
    border-style: none;
    height: 20px;
    width: 90px;
    margin: 2px;
}

.botaoapagar {
    background-color: #eb3131;
    color: white;
    border-style: none;
    margin: 2px;
    width: 90px;
    height: 20px;
}
.conteinerpostar {
    width: 430px;
    height: 550px;
    background-color: #080636;
    z-index: 0;
    top: 5px;
    margin: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    text-align: center;
    border-radius: 12px 44px;
}
.conteinerpostaratv{
    width: 430px;
    height: 550px;
    background-color: #080636;
    z-index: 0;
    top: 5px;
    margin: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    text-align: center;
    border-radius: 12px 44px;
    overflow-y: scroll;
    
}
.tabela{
    background-color: #ffffff;
    border: none;
    padding: 8px 11px;
    margin: 4px 0;
    width: 90%;
    height: 30px;
    border-radius: 14px;
}


.descricao{
  margin:10px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  width: 400px;
  height: 60px;
  display: block;
  resize: none;
}
.conteinerpostarTitulo{
    color: #ffffff;
    font-size: 30px;
    font-family: "VT323", monospace;
    margin-bottom: 30px;
}
.formulario{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
}
.botaopostar{
    margin-top: 3px;
    background-color: #03175a;
    color: #ffffff;
    width: 220px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
}
.select{
    background-color: #ffffff;
    border: none;
    padding: 8px 11px;
    margin: 4px 0;
    width: 95%;
    height: 50px;
    border-radius: 14px;
}
.label{
    font-size: 16px;
    font-weight: bold;
}