@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.conteudo {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.conteudocards {
    display: flex;
    flex-direction: column;
    margin-right: 15px;

}

.CardUm {
    background-color: #00A3FF;
    width: 460px;
    height: 630px;

    margin: 0 auto;
    overflow-y: auto;
    box-sizing: content-box;
    padding: 30px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px 10px 10px 10px
}

.CardUm::-webkit-scrollbar {
    -webkit-animation-delay: 2s;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
}

.CardUm::-webkit-scrollbar-thumb {
    background-color: #02195a;
    /* color of the scroll thumb */
    border-radius: 0px 9px 9px 0px;
}

.nome {
    color: white;
    font-family: "VT323", monospace;
    position: relative;
    font-size: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.CardDois {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #00A3FF;
    border-radius: 15px;
    text-align: center;

}

.poste_curso {
    background: linear-gradient(90deg, #3f51b5, transparent) #031138;
    border-radius: 10px;
    align-items: center;
    border-style: none;
    width: 360px;
    height: 50px;
    color: #ffffff;
    cursor:pointer

}

.poste_curso:hover,
.poste_curso:focus {
    background-color: #0B1B3C;
    color: #fff;
    transition: 2s;
}

.CardTres {
    background-color: #00A3FF;
    border-radius: 15px;
    align-items: center;
    width: 770px;
    height: 780px;
    padding-left: 20px;
    margin: 0 auto;
}

.nome_cardTres {
    color: #ffffff;
    font-family: "VT323", monospace;
    font-size: 60px;
    padding-bottom: 50px;
    padding-left: 5px;
    text-transform: uppercase;
}

.cursoeditar {
    display: flex;
}

.titulocurso {
    color: #fff;
    font-size: 35px;
    font-family: "VT323", monospace;
    margin: 2px;
}

.botaoeditar {
    color: #fff;
    background-color: #00AB07;
    width: 180px;
    height: 35px;
    border-style: none;
    border-radius: 5px;
    margin: 2px;
    cursor:pointer
}

.link{
    text-decoration-style: none;
    text-decoration-line: none;
    color: #fff;
    }

.botaoapagar {
    color: #fff;
    background-color: #FF0000;
    width: 180px;
    border-style: none;
    border-radius: 5px;
    margin: 2px;

}